{% extends 'esqueleto.html' %}
{% load static %}
{% block titulo %}Vientos de Cambios - Comentario{% endblock titulo%}

  <!-- Bootstrap core CSS -->
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
  

    {% block cuerpo %}
     
    
        
        <div class="container px-4 py-2 ">
            <div class="encabezadocomentario">
                <h2 class="tituloformulario">Dejanos tus comentarios</h2>
            </div>
            <div class="iconocomentario text-center">    
                <h3><i class="bi bi-chat-square-text" aria-hidden="true"></i></h3>
            </div>    
        <div class="container p-1 text-white col-md-6" id="formulario">
          <div class="row my-2 justify-content-center">
              <div class="col-md-10">
                  <form method="post" class="form">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      {% buttons %}
                      <button type="submit" class="btn btn-primary">Enviar</button>
                      {% endbuttons %}
                  </form>
              </div>
          </div>
      </div>
    </div>       
    
    {% endblock cuerpo %}
    

      


<!-- Footer -->








