<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="noticia">
        <img class="izquierda" src="http://orig11.deviantart.net/46ea/f/2010/018/7/5/avatar_by_chiron178.png">
        <aside>Lo que queremos hacer es colocar este texto al lado derecho de la imagen, algo así como se observa en periódicos o revistas.</aside>
        <div class="reset"></div>
      </div>
</body>
</html>
